* {
	box-sizing: border-box;
}

body {
	height: 100svh;
	background: url("./grilledMeat.jpg");
	background-size: cover;
	margin: 0;
	padding: 0;
}
/***************** HEADER CSS *****************/
#header {
	display: flex;
	justify-content: center;
	height: 64px;
	color: rgb(250, 249, 246);
}
#header ul {
	display: flex;
	justify-content: space-around;
	width: 300px;
	list-style-type: none;
}

.site-header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
}

#content {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #00000066;
}

/***************** MAIN CSS *****************/
#main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 2;
}

#mainLogo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(250, 249, 246);
	width: 400px;
	height: 400px;
}
/***************** footer CSS *****************/
#footer {
	flex: 0.2;
}
